<!-- header.component.html AFD3E2-->
<link rel="icon" type="image/x-icon" href="src/favicon.ico" >
<nav class="navbar navbar-expand-lg" >
    <div class="container-fluid">
      <a class="navbar-brand" href="#">MODELADO Y SIMULACION Practica 5
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
        </ul>
      </div>
    </div>
</nav>
<style>
  .navbar-brand {
    
    color: #333;
    font-weight: bold;
  }
  
  .nav-link {
    color: #454545;
  }
</style>
