<app-header></app-header>

<body>
  <div class="form-container">
    <h2>Ejercicio 4</h2>
    <form id="orderForm" [formGroup]="orderForm">
      <div class="form-group">
        <label for="numSimulaciones">Número de Simulaciones</label>
        <input type="number" class="form-control" formControlName="numSimulaciones" placeholder="Ingrese el número de simulaciones">
      </div>
      <div class="form-group">
        <label for="numJuegos">Número de juegos</label>
        <input type="number" class="form-control" formControlName="numJuegos" placeholder="Ingrese el número de juegos">
      </div>
      <div class="form-group">
        <label for="costoJuego">Costo por Juego</label>
        <input type="number" class="form-control" formControlName="costoJuego" placeholder="Ingrese el costo por juego">
      </div>
      <div class="form-group">
        <label for="gananciaJugador">Ganancia del Jugador si Gana</label>
        <input type="number" class="form-control" formControlName="gananciaJugador" placeholder="Ingrese la ganancia del jugador si gana">
      </div>
      <div class="form-group">
        <button type="button" class="btn-submit" (click)="submitForm()">Generar</button>
        <br>
        <button type="button" class="btn-clear" (click)="clearForm()">Limpiar</button>
      </div>
    </form>
    
  </div>


    <!-- Tabla -->
    <div class="table-container" *ngIf="gameResults.length > 0">
      <h2>Resultados del Juego  de Dados</h2>
      <div class="table-scrollable">
      <fieldset>
        <legend>Resultados</legend>
        <div class="summary">
          <p><strong>Promedio Ganó la mesa:</strong> {{ GanoMesa }} veces</p>
          <p><strong>Promedio Ganó el apostador:</strong> {{ GanoJugador }} veces</p>
          <p><strong>Promedio Ingreso de la mesa:</strong> {{ GananciaPromedio }} Bs.</p>
        </div>
        <table>
          <thead>
            <tr>
              <th>Simulacion</th>
              <th>Juegos Casa</th>
              <th>Juegos Jugador</th>
              <th>Ganancia</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let simulacion of simulaciones">
              <td>{{ simulacion.Simulacion }}</td>
              <td>{{ simulacion.JuegosGanados }}</td>
              <td>{{ simulacion.JuegosPerdidos }}</td>
              <td>{{ simulacion.Ganancia }}</td>
          </tbody>
        </table>
      </fieldset>
    </div>
    </div>

    
    
</body>

<app-footer></app-footer>
