<!-- home.component.html --><link rel="icon" type="image/x-icon" href="src/favicon.ico" >
<app-header></app-header>
<!-- Resto del contenido de la página -->
  <div class="container">
    <p>PRACTICA #5</p>
    <p>MODELADO, DINAMICA DE SISTEMAS Y SIMULACION</p>
  </div>
          
<br><br>
<!-- home.component.html -->

  <h2 class="text-center mb-4">Diagramas:</h2>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card shadow">
          <img src="./assets/nn.png" class="card-img-top" alt="Servicio 1">
          <div class="card-body text-center">
            <h5 class="card-title">Ej. 1</h5>
            <a class="btn" routerLink="/prodmed" style="background-color: #AFD3E2;">Utilizar método</a> <!-- Estilo en línea añadido -->
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card shadow">
          <img src="./assets/nn2.png" class="card-img-top" alt="Servicio 2">
          <div class="card-body text-center">
            <h5 class="card-title">Ej. 2</h5>
            <a class="btn" routerLink="/pedidos" style="background-color: #AFD3E2;">Utilizar método</a> 
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2 class="text-center mb-4"></h2>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card shadow">
          <img src="./assets/nn2.png" class="card-img-top" alt="Servicio 1">
          <div class="card-body text-center">
            <h5 class="card-title">Ej. 3</h5>
            <a class="btn" routerLink="/algmul" style="background-color: #AFD3E2;">Utilizar método</a> 
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card shadow">
          <img src="./assets/nn.png" class="card-img-top" alt="Servicio 2">
          <div class="card-body text-center">
            <h5 class="card-title">Ej. 4</h5>
            <a class="btn" routerLink="/alglin" style="background-color: #AFD3E2;">Utilizar método</a> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card shadow">
          <img src="./assets/nn2.png" class="card-img-top" alt="Servicio 1">
          <div class="card-body text-center">
            <h5 class="card-title">Ej. 5</h5>
            <a class="btn" routerLink="/ej5" style="background-color: #AFD3E2;">Utilizar método</a> 
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card shadow">
          <img src="./assets/nn.png" class="card-img-top" alt="Servicio 2">
          <div class="card-body text-center">
            <h5 class="card-title">Ej. 6</h5>
            <a class="btn" routerLink="/ej6" style="background-color: #AFD3E2;">Utilizar método</a> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card shadow">
          <img src="./assets/nn2.png" class="card-img-top" alt="Servicio 1">
          <div class="card-body text-center">
            <h5 class="card-title">Ej. 7</h5>
            <a class="btn" routerLink="/ej7" style="background-color: #AFD3E2;">Utilizar método</a> 
          </div>
        </div>
      </div>
       
    </div>
  </div>

  <br><br>

  <app-footer></app-footer>